.header_container {
  background: url("slider.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
h1 {
  color: $white;
  font-size: 45px;
  font-weight: 200;
  margin-left: 1%;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.185) 2px 2px 2px;
  padding-top: 90px;
}

.buton_Container {
  margin-top: 168px;
  text-align: center;

  button {
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
    font-size: 14px;
    height: 62px;
    margin: 35px;
    margin-right: 18px;
    padding: 18px;
    width: 135px;
    transform: rotate(0deg);

    &:hover {
      cursor: pointer;
      font-size: medium;
      transition: 0.5s;
      transform: rotate(10deg);
    }
  }
}
