// Body
*body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//Ul // LI

//fonts

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

// html

html {
  font-family: "Be Vietnam Pro", sans-serif;
}

//Variables
$main: #005577;
$secondary: #01bebe;
$white: #f5f5f5;
$dark: #001e24;
$dark2: #cfcfcf;
