.footer_container {
  box-shadow: 0 0 3px 0 rgb(0 0 0 / 50%);
  display: flex;
  justify-content: space-evenly;

  margin-top: -310px;

  p {
    color: $black;
  }
}

.footer_logo {
  width: 100px;
}

.redes_sociales {
  align-items: center;
  display: flex;
}

.img_redes {
  align-items: center;
  display: flex;
}

.line {
  border-right: 1px solid rgba(88, 88, 88, 0.4);
  display: block;
  font-size: 20px;
}

.img_compra {
  margin: 0 auto;
  width: 200px;
}
