.navbar_container {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

img {
  display: block;
  margin-left: 20px;
  text-align: center;
  padding: 0 auto;
}
ul {
  color: #ffffff;
  display: flex;
  font-size: 35px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  padding: 0;
}

li {
  border-right: 1px solid rgba(254, 254, 254, 0.4);
  display: block;
  font-size: 20px;
  list-style: none;
  margin-left: 10px;
  padding-left: 20px;
  text-align: center;

  a {
    margin-right: 9px;
  }
}
ul li:last-child {
  border-right: none;
}

p {
  color: $white;

  &:hover {
    color: $main;
    transition: 0.3s;
  }
}

img {
  display: block;
  margin-left: 20px;
  text-align: center;
  width: 48px;
}

li {
  margin-right: 10px;
  list-style: none;
}

.product_navbar {
  display: block;
  font-size: 20px;
  margin-left: 10px;
  padding-left: 20px;
  justify-content: center;
  text-align: center;
}

.img_logo {
  height: 100px;
  margin-top: 20px;
  width: 100px;
}

.img_nav {
  display: block;
  margin-left: 20px;
  text-align: center;
  width: 48px;
  margin: 0 auto;
}

.user {
  align-items: center;
  border: 0;
  color: $white;
  display: flex;
  font-size: 11px;
  padding-top: 30px;

  p {
    margin-left: 10px;
    margin-right: 10px;
  }

  span {
    border-right: 1px solid rgba(254, 254, 254, 0.4);
    margin-right: 15px;
    padding: 12px;
  }

  button {
    background-color: transparent;
    border: none;
    color: $white;

    &:hover {
      color: $main;
      transition: 0.3s;
    }
  }
}

.bi bi-chevron-down {
  &:hover {
    width: "15";
    height: "15";
  }
}
